/* ------- poczatek ogolnych ustawien styliow------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #25072e;
}

h1,
h2,
h3 {
    margin: 0;
    color: white;
}

p {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* ------- koniec ogolnych ustawien styliow------ */


/* ----- poczatek fixed menu z lewa ----- */

.page-header {
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    z-index: 10;
    background-color: white;
    bottom: 50px;
    left: 50px;
}

.screen-reader-only {
    display: none;
}


/* ----- koniec fixed menu z lewa ----- */


/* ------- poczatek sekcja 1 grid+poligon ------ */

.page-content {
    text-align: right;
}

.content-section {
    min-height: 100vh;
}

.band-members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 15%;
}

.band-members__item {
    margin-top: 15vw;
    padding: 0 auto;
}


/* ------- koniec sekcja 1 grid+poligon ------ */


/* ------- poczatek sekcja 2 about ------ */

.about-section {
    background-color: black;
    width: 100%;
}


/* ------- koniec sekcja 2 about ------ */

.content-section:nth-child(odd) {
    background-color: #25072e;
}

.video-section {
    background-color: black;
}

.footer-section {
    background-color: black;
}